

.game-result-main-container{
    position: relative;
    top: 30px;
    margin: auto;
    height: 180px;
    width: 60%;
}

.wen-container{
    
    position: relative;
    top: 10px;
    height: 80%;
    width: 80%;
    margin: auto;

}
.wen-container h1{
    
    display: flex;
    justify-content: center;
}
.wen-container button {
    font-size: 18px;
    height: 50px;
    width: 30%;
    margin: auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

